/* CSS Document */
html {
  font-size: 100%; }

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80%;
  background-color: #fff;
  margin: 0 auto;
  height: 100%;
}

#home{
  padding-top: 10%;
}

.btn {
  padding: 8px 12px;
  margin: 10px;
  width: 150px;
}

